 .backdrop {
    background-color: hsla(0, 0%, 0%, 0.428);
    height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    /* relative to the root element by default */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.modal {
    background-color: rgb(241, 240, 250);
    border-radius:1.5vh;
    width:50%;
    position:absolute;
    color:rgba(0, 0, 0, 0.565)

   



}
.modal svg{

    position: absolute;
    top:0.5vw;
    left:0.5vw;
}

.modal header{
    display:flex;
    justify-content:space-evenly;
    align-items:center;


}

.modal input{

    margin-bottom: 10%;
    border-radius: 3;
    background-color:rgb(254, 252, 255);
}


.modal label{

    width:70%;
    display: flex;
    

}

.modal form{
    display:flex;
    flex-direction: column;
    align-items:center;
    align-content: flex-start;
    


    
}


.modal button{
    margin-bottom: 6%;
    background-color:  rgb(192, 187, 232);
    width: 20%; 
    border-radius: 14%;
}
button{
 
    background-color:  rgb(192, 187, 232);
    border-radius: 14%;
}

.modal  input{
    flex-basis:70%;
    border-radius:5%;



}

button:hover{


     transform:scalex(110%) translateY(20%);

   



}

.home svg:hover{


    transform: translateY(20%);
    /* transform:rotatex(30deg); */

}


span:hover{


    transform:scalex(105%) ;
    color:aqua;

  



}