
body{
  
    height:100vh !important;
   
    margin: 0 0;



}

#root {
    height: 100% 
}
.ant-layout > header{
    justify-content: center;
align-items: center;

}

.ant-layout-content  {
    padding: 0 !important; 
       padding-top:1px !important;


    
    }
.ant-layout{

    height:100% !important;
    margin-bottom:0px;
}

.ant-layout-sider{

    /* background-color: aqua !important; */
    height: 100% !important; /* make the flex item take all available height */


    
}

aside{

    height:100% !important;


}

.ant-layout >section{

    padding-bottom: 0 !important;
}



    .landing-page {
      /* todo */
      height:100%;
      margin-top : 0 ;
      margin-bottom:0;

      padding-top:0px;
      padding-right:0;
      background: linear-gradient(to right, #d5dae0, transparent);
      font-family: "Orbitron", sans-serif;
      font-family: sans-serif;
      color: #d9d9d9;
    }

   .landing-page > header {

      padding-top: 40px;
      display: flex;
      justify-content: space-around;
    }

 /* .landing-page   > TODO not work  span { */
   .landing-page span{

      /* margin-right: 1.5rem; */
      cursor: pointer;
      color: #206291  !important;
      transition: all 0.3s ease;
      position: relative;
    }

    .landing-page>  span:hover {
      color: #cf3f8a !important
    }

    .landing-page > div > h1 {
      font-size: 3rem;
      text-align: center;
      color: #0077cc;

    }

    .landing-page >div> button {
      display: block;
      background-color: #0077cc;
      border: none;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

     .landing-page   span:hover::before {
         /* .landing-page > span TODO not work */
      content: attr(data-text);
      white-space: nowrap ;
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(35%);
      background-color: #0077cc;
      color: #d9d9d9;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: 0.8rem;
      max-width: 200px;

    }

    .login-form{
            display: flex; /* set container to be a flex container */
            align-items: center; /* center items vertically */
            justify-content: center; /* center items horizontally */
            height: 100vh; /* set a height for the container */
            /* position:relative;TODO toedit */
            font-size: 100px !important;
            padding-left: 10%;
            padding-right: 10%;;
            background: linear-gradient(to  right, #d5dae0, transparent);


          



    }

    .login-form >  .alerts{
      transform: translate(10px,-72px);
      flex:1;
      padding-left: 0;


    }
   form{
    flex:2;
    }
.landing-main{
  margin-top:15rem;
  display: flex;
  flex-direction:column;
  align-items: center !important;
  align-content:center !important;
}


.employee-table{
  margin-top:1rem;
  
}

.spinner-container {
display:flex;
padding: 0 0;
margin: 0 0;
align-items: center;
justify-content: center;
text-align: center;
border-radius: 4px;
width:100%;
height:100%;
}
